site_name: My Docs
repo_name: 'marcofavorito/python-project-template'
repo_url: https://github.com/marcofavorito/python-project-template

nav:
- Home: index.md

plugins:
- search
- mknotebooks:
    execute: false
    write_markdown: false
    #preamble: ""
    #enable_default_jupyter_cell_styling: false
    #enable_default_pandas_dataframe_styling: false
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        selection:
          docstring_style: sphinx
          filters:
            - "!^_"  # exlude all members starting with _
            - "^__init__$"  # but always include __init__ modules and methods
    watch:
      - python_project_template

theme:
  name: material
  feature:
    tabs: true


strict: true


markdown_extensions:
- codehilite
- pymdownx.arithmatex
- pymdownx.superfences
- pymdownx.highlight
- admonition
- markdown_include.include:
    base_path: docs

extra_javascript:
- 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
- 'https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js'
